@font-face {
  font-family: "Montserrat-Regular";
  src: '/fonts/Montserrat/Montserrat-Regular.ttf'; 
}

@font-face {
  font-family: "Montserrat-Bold";
  src: '/fonts/Montserrat/Montserrat-Bold.ttf'; 
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: '/fonts/Montserrat/Montserrat-ExtraBold.ttf'; 
}

@font-face {
  font-family: "Montserrat-Medium";
  src: '/fonts/Montserrat/Montserrat-Medium.ttf'; 
}